## PPP Data Transformation and Cleanup:###

(a) delete the columns "ProcessingMethod", "CurrentApprovalAmount", and "UndisbursedAmount", 
(b) remove every "BusinessName" titled "NOT AVAILABLE", and every "BusinessAgeDescription" titled "New Business or 2 years or less" or "Startup, Loan Funds will Open Business", 
(c) in columns "HubzoneIndicator" and "LMIIndicator", replace Y with 1 and N with 0 to make the variables numerical and binary to facilitate the analysis (1 for Yes; 0 for No) 
(d) Save the file as PPP_up_to_150k_Aggregate.csv

In [1]:
import pandas as pd
import os

In [2]:
#identify source folder:
source_folder = 'F:\\FAU PhD\\DISSERTATION\\DATABASES\\DataTESTS\\2023.08.27_Test'
source_file = 'ALL_PPP_up_to_150k_copy.csv'
destination_file = 'PPP_up_to_150k_Aggregate.csv'

In [3]:
#read the csv file into a DataFrame
df = pd.read_csv(f"{source_folder}\\{source_file}")
df.head()

,ProcessingMethod,BusinessName,PPPInitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,JobsReported,NAICSCode,OriginatingLender,ForgivenessAmount,ForgivenessDate
0,PPP,NOT AVAILABLE,148440.00,148440.00,0.0,N,N,New Business or 2 years or less,12.0,339114.0,"Bank of America, National Association",150083.01,6/11/2021
1,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,140081.78,140081.78,0.0,N,N,Existing or more than 2 years old,3.0,NaN,Synovus Bank,141920.11,8/25/2021
2,PPP,Q AND J SERVICES LLC,136520.96,136520.96,0.0,Y,Y,Existing or more than 2 years old,170.0,541990.0,Synovus Bank,137747.78,3/29/2021
3,PPP,Exemption 6,130600.00,130600.00,0.0,N,N,Unanswered,14.0,624190.0,NaN,131876.98,4/27/2021
4,PPP,OPTIMIZED PROCESS SOLUTIONS DBA AAA INDUSTRIES,126798.00,126798.00,0.0,Y,N,New Business or 2 years or less,20.0,NaN,"Bank of America, National Association",127836.70,2/25/2021

In [4]:
#Delete the columns "ProcessingMethod", "CurrentApprovalAmount", and "UndisbursedAmount"
df.drop(columns=['ProcessingMethod', 'CurrentApprovalAmount', 'UndisbursedAmount'], inplace=True)

#Filter column "BusinessName" and remove every row for "NOT AVAILABLE"
df = df[df['BusinessName'] != 'NOT AVAILABLE']

#Filter column "BusinessAgeDescription" and remove specific rows
df = df[~df['BusinessAgeDescription'].isin(['New Business or 2 years or less', 'Startup, Loan Funds will Open Business'])]

#In columns "HubzoneIndicator" and "LMIIndicator", replace Y with 1 and N with 0
df['HubzoneIndicator'].replace({'Y': 1, 'N': 0}, inplace=True)
df['LMIIndicator'].replace({'Y': 1, 'N': 0}, inplace=True)

#preview dataFrame
df.head()

,BusinessName,PPPInitialApprovalAmount,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,JobsReported,NAICSCode,OriginatingLender,ForgivenessAmount,ForgivenessDate
1,NORTH CHARLESTON HOSPITALITY GROUP LLC,140081.78,0,0.0,Existing or more than 2 years old,3.0,NaN,Synovus Bank,141920.11,8/25/2021
2,Q AND J SERVICES LLC,136520.96,1,1.0,Existing or more than 2 years old,170.0,541990.0,Synovus Bank,137747.78,3/29/2021
3,Exemption 6,130600.00,0,0.0,Unanswered,14.0,624190.0,NaN,131876.98,4/27/2021
6,VULCAN MACHINERY CORPORATION,111200.00,0,0.0,Existing or more than 2 years old,10.0,332710.0,The Huntington National Bank,112104.83,3/5/2021
7,"TJK KITCHENS &AMP; BREWPUBS, LLC",109988.00,0,0.0,Unanswered,8.0,238990.0,The Huntington National Bank,110881.96,3/1/2021

In [5]:
df.shape

(933410, 10)

In [6]:
# (e) Save the file as PPP_up_to_150k_Aggregate.csv
df.to_csv(f"{source_folder}\\{destination_file}", index=False)