### Merging all Contracting Data from 2015 to 2016 in one file ###

In [11]:
#importing dependencies
import pandas as pd

In [12]:
#define the directory path where each original file is located
directory_path = "F:\\FAU PhD\\DISSERTATION\\DATABASES\\DataTESTS\\2023.08.27_Test\\FinalDataMerge\\"

In [13]:
#read each original csv file into a a Pandas DataFrame
df_2015 = pd.read_csv(directory_path + "New_2015_Contracting.csv")
df_2016 = pd.read_csv(directory_path + "New_2016_Contracting.csv")

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
#check that the 2015 data has correctly transferred from csv files into DataFrames. 
df_2015.head()

,businessuei,2015_total_dollars_obligated,2015_total_outlayed_amount_for_overall_award,2015_current_total_value_of_award,2015_base_and_all_options_value,2015_potential_total_value_of_award,2015_number_of_offers_received,businessname,city,state,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,usaspending_permalink,Unnamed: 33
0,C112Q3D8VPM3,6656.16,0.0,6656.16,6656.16,6656.16,2,TURF TEQ LLC,HONEY BROOK,PA,...,f,f,f,f,f,f,f,f,https://www.usaspending.gov/award/CONT_AWD_VA7...,NaN
1,C114HTL5ADV7,305741.12,0.0,305741.12,306855.32,305741.12,7,CUMMINS INC.,RENTON,WA,...,f,f,f,f,f,f,f,f,https://www.usaspending.gov/award/CONT_AWD_DOC...,NaN
2,C114QV5R7YX8,4190846.34,0.0,4190846.34,2007836.09,4190846.34,4,"AMERIQUAL GROUP, LLC",EVANSVILLE,IN,...,f,f,f,f,f,f,f,f,https://www.usaspending.gov/award/CONT_AWD_001...,NaN
3,C115HRKETCN8,0.00,0.0,0.00,0.00,500000.00,999,CONTEXT PARTNERS INC.,PORTLAND,OR,...,f,f,f,f,f,f,f,f,https://www.usaspending.gov/award/CONT_IDV_GS0...,NaN
4,C115J41MGLP5,0.00,0.0,0.00,0.00,0.00,1,"CHANNEL TECHNOLOGIES GROUP, LLC",SANTA BARBARA,CA,...,f,f,f,f,f,f,f,f,https://www.usaspending.gov/award/CONT_AWD_N00...,NaN

In [15]:
#check that the 2015 data has correctly transferred from csv files into DataFrames. 
df_2015.shape

(352700, 34)

In [16]:
#check that the 2016 data has correctly transferred from csv files into DataFrames. 
df_2016.head()

,businessuei,2016_total_dollars_obligated,2016_total_outlayed_amount_for_overall_award,2016_current_total_value_of_award,2016_base_and_all_options_value,2016_potential_total_value_of_award,2016_number_of_offers_received,Unnamed: 33
0,C114HTL5ADV7,49360.52,0.0,49360.52,-642.39,7.080127e+04,3,NaN
1,C114QV5R7YX8,4821747.50,0.0,4821747.50,2568873.75,1.242011e+08,11,NaN
2,C115QBW3DCK7,71820.00,0.0,71820.00,715140.00,7.151400e+05,1,NaN
3,C116E6T5MGD6,467459.34,0.0,467459.34,467459.34,1.217459e+06,54,NaN
4,C118LNERK4G5,780.00,0.0,780.00,-520.00,7.800000e+02,3,NaN

In [17]:
#check that the 2016 data has correctly transferred from csv files into DataFrames. 
df_2016.shape

(354761, 8)

In [18]:
#Merge the data from all the DataFrames based on the same "businessuei" data for every year. 
merged_df = df_2015.merge(df_2016, on='businessuei', how='outer')

In [19]:
# Remove duplicates based on 'businessuei'
merged_df.drop_duplicates(subset='businessuei', keep='first', inplace=True)
merged_df.head()

,businessuei,2015_total_dollars_obligated,2015_total_outlayed_amount_for_overall_award,2015_current_total_value_of_award,2015_base_and_all_options_value,2015_potential_total_value_of_award,2015_number_of_offers_received,businessname,city,state,...,other_minority,usaspending_permalink,Unnamed: 33_x,2016_total_dollars_obligated,2016_total_outlayed_amount_for_overall_award,2016_current_total_value_of_award,2016_base_and_all_options_value,2016_potential_total_value_of_award,2016_number_of_offers_received,Unnamed: 33_y
0,C112Q3D8VPM3,6656.16,0.0,6656.16,6656.16,6656.16,2.0,TURF TEQ LLC,HONEY BROOK,PA,...,f,https://www.usaspending.gov/award/CONT_AWD_VA7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C114HTL5ADV7,305741.12,0.0,305741.12,306855.32,305741.12,7.0,CUMMINS INC.,RENTON,WA,...,f,https://www.usaspending.gov/award/CONT_AWD_DOC...,NaN,49360.52,0.0,49360.52,-642.39,7.080127e+04,3.0,NaN
16,C114QV5R7YX8,4190846.34,0.0,4190846.34,2007836.09,4190846.34,4.0,"AMERIQUAL GROUP, LLC",EVANSVILLE,IN,...,f,https://www.usaspending.gov/award/CONT_AWD_001...,NaN,4821747.50,0.0,4821747.50,2568873.75,1.242011e+08,11.0,NaN
41,C115HRKETCN8,0.00,0.0,0.00,0.00,500000.00,999.0,CONTEXT PARTNERS INC.,PORTLAND,OR,...,f,https://www.usaspending.gov/award/CONT_IDV_GS0...,NaN,0.00,0.0,0.00,0.00,1.000000e+06,1998.0,NaN
45,C115J41MGLP5,0.00,0.0,0.00,0.00,0.00,1.0,"CHANNEL TECHNOLOGIES GROUP, LLC",SANTA BARBARA,CA,...,f,https://www.usaspending.gov/award/CONT_AWD_N00...,NaN,0.00,0.0,0.00,0.00,3.900000e+06,2.0,NaN

In [20]:
merged_df.shape

(189953, 41)

In [21]:
#select the columns to keep in the merged DataFrame
selected_columns = [
    'businessuei', '2015_total_dollars_obligated', '2015_total_outlayed_amount_for_overall_award', 
    '2015_current_total_value_of_award', '2015_base_and_all_options_value', '2015_potential_total_value_of_award', 
    '2015_number_of_offers_received', '2016_total_dollars_obligated', '2016_total_outlayed_amount_for_overall_award',
    '2016_current_total_value_of_award', '2016_base_and_all_options_value', '2016_potential_total_value_of_award',
    '2016_number_of_offers_received', 'businessname', 'city', 'state', 'zipcode', 'naics', 'naicsdescription',
    'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian', 'tribally_owned', 'veteran_owned',
    'service_disabled_veteran', 'woman_owned', 'wosb', 'econ_disadv_wosb', 'jointventure_wosb', 
    'jointventure_econ_disadv_wosb', 'minority_owned', 'subcontinent_asian_indian_american', 'asian_pacific_american',
    'black_american', 'hispanic_american', 'native_american', 'other_minority'
]

merged_df = merged_df[selected_columns]
merged_df.head()

,businessuei,2015_total_dollars_obligated,2015_total_outlayed_amount_for_overall_award,2015_current_total_value_of_award,2015_base_and_all_options_value,2015_potential_total_value_of_award,2015_number_of_offers_received,2016_total_dollars_obligated,2016_total_outlayed_amount_for_overall_award,2016_current_total_value_of_award,...,econ_disadv_wosb,jointventure_wosb,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority
0,C112Q3D8VPM3,6656.16,0.0,6656.16,6656.16,6656.16,2.0,NaN,NaN,NaN,...,f,f,f,f,f,f,f,f,f,f
1,C114HTL5ADV7,305741.12,0.0,305741.12,306855.32,305741.12,7.0,49360.52,0.0,49360.52,...,f,f,f,f,f,f,f,f,f,f
16,C114QV5R7YX8,4190846.34,0.0,4190846.34,2007836.09,4190846.34,4.0,4821747.50,0.0,4821747.50,...,f,f,f,f,f,f,f,f,f,f
41,C115HRKETCN8,0.00,0.0,0.00,0.00,500000.00,999.0,0.00,0.0,0.00,...,f,f,f,f,f,f,f,f,f,f
45,C115J41MGLP5,0.00,0.0,0.00,0.00,0.00,1.0,0.00,0.0,0.00,...,f,f,f,f,f,f,f,f,f,f

In [22]:
#check the number of rows and columns in the newly merged DataFrame with all contracting data from 2015 to 2022
merged_df.shape

(189953, 38)

In [23]:
#save the merged DataFrame to a new csv file in the same directory
merged_df.to_csv(directory_path + "All_2015to2016_Contracting.csv", index=False)