### Merging PPP loan data with all Contracting Data from 2015 to 2022 in one file ###

In [1]:
#importing dependencies
import pandas as pd

In [2]:
#define the directory path where each original file is located
directory_path = "F:\\FAU PhD\\DISSERTATION\\DATABASES\\DataTESTS\\2023.08.27_Test\\FinalDataMerge\\"

In [3]:
#read each original csv file into a a Pandas DataFrame
df_PPP = pd.read_csv(directory_path + "PPP_up_to_150k_Aggregate.csv")
df_Contr = pd.read_csv(directory_path + "All_2015to2022_Contracting.csv")

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,4,6,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#check that the PPP data has correctly transferred from the PPP_up_to_150k_Aggregate.csv file into the DataFrame.
df_PPP.head()

,businessname,PPPInitialApprovalAmount,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,JobsReported,NAICSCode,OriginatingLender,ForgivenessAmount,ForgivenessDate
0,NORTH CHARLESTON HOSPITALITY GROUP LLC,140081.78,0,0.0,Existing or more than 2 years old,3.0,NaN,Synovus Bank,141920.11,8/25/2021
1,Q AND J SERVICES LLC,136520.96,1,1.0,Existing or more than 2 years old,170.0,541990.0,Synovus Bank,137747.78,3/29/2021
2,Exemption 6,130600.00,0,0.0,Unanswered,14.0,624190.0,NaN,131876.98,4/27/2021
3,VULCAN MACHINERY CORPORATION,111200.00,0,0.0,Existing or more than 2 years old,10.0,332710.0,The Huntington National Bank,112104.83,3/5/2021
4,"TJK KITCHENS &AMP; BREWPUBS, LLC",109988.00,0,0.0,Unanswered,8.0,238990.0,The Huntington National Bank,110881.96,3/1/2021

In [5]:
#check that the PPP data has correctly transferred from the PPP_up_to_150k_Aggregate.csv file into the DataFrame.
df_PPP.shape

(933410, 10)

In [6]:
#check that the federal contracting data has correctly transferred from the All_2015to2022_Contracting.csv file into the DataFrame. 
df_Contr.head()

,businessuei,businessname,city,state,zipcode,naics,naicsdescription,2015_total_dollars_obligated,2016_total_dollars_obligated,2017_total_dollars_obligated,...,econ_disadv_wosb,jointventure_wosb,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority
0,C112Q3D8VPM3,TURF TEQ LLC,HONEY BROOK,PA,193441301,333112.0,LAWN AND GARDEN TRACTOR AND HOME LAWN AND GARD...,6656.16,NaN,NaN,...,f,f,f,f,f,f,f,f,f,f
1,C114HTL5ADV7,CUMMINS INC.,RENTON,WA,980552944,335312.0,MOTOR AND GENERATOR MANUFACTURING,305741.12,49360.52,54820.50,...,f,f,f,f,f,f,f,f,f,f
2,C114QV5R7YX8,"AMERIQUAL GROUP, LLC",EVANSVILLE,IN,477258588,311999.0,ALL OTHER MISCELLANEOUS FOOD MANUFACTURING,4190846.34,4821747.50,16299419.13,...,f,f,f,f,f,f,f,f,f,f
3,C115HRKETCN8,CONTEXT PARTNERS INC.,PORTLAND,OR,972115847,541613.0,MARKETING CONSULTING SERVICES,0.00,0.00,NaN,...,f,f,f,f,f,f,f,f,f,f
4,C115J41MGLP5,"CHANNEL TECHNOLOGIES GROUP, LLC",SANTA BARBARA,CA,93111,334412.0,BARE PRINTED CIRCUIT BOARD MANUFACTURING,0.00,0.00,0.00,...,f,f,f,f,f,f,f,f,f,f

In [7]:
#check that the federal contracting data has correctly transferred from the All_2015to2022_Contracting.csv file into the DataFrame.
df_Contr.shape

(303459, 74)

In [8]:
#merge the two DataFrames based on common business names, "businessname" column
merged_df = df_Contr.merge(df_PPP, on='businessname', how='outer')

In [9]:
#Remove any duplicates entries from the merged DataFrame based on 'businessname'
merged_df.drop_duplicates(subset='businessname', keep='first', inplace=True)

In [10]:
#check the number of rows and columns in the newly merged DataFrame.
merged_df.shape

(1030852, 83)

In [11]:
#Reorganize the columns and determine which columns to keep in the merged DataFrame
selected_columns = [
    'businessuei', 'businessname', 'city', 'state', 'zipcode', 'naics', 'naicsdescription', 'BusinessAgeDescription',
    '2015_total_dollars_obligated', 
    '2016_total_dollars_obligated', 
    '2017_total_dollars_obligated', 
    '2018_total_dollars_obligated', 
    '2019_total_dollars_obligated',
    '2020_total_dollars_obligated',
    '2021_total_dollars_obligated',
    '2022_total_dollars_obligated',
    '2015_total_outlayed_amount_for_overall_award', 
    '2016_total_outlayed_amount_for_overall_award', 
    '2017_total_outlayed_amount_for_overall_award', 
    '2018_total_outlayed_amount_for_overall_award', 
    '2019_total_outlayed_amount_for_overall_award',
    '2020_total_outlayed_amount_for_overall_award',
    '2021_total_outlayed_amount_for_overall_award',
    '2022_total_outlayed_amount_for_overall_award',
    '2015_current_total_value_of_award',
    '2016_current_total_value_of_award', 
    '2017_current_total_value_of_award',
    '2018_current_total_value_of_award',
    '2019_current_total_value_of_award',
    '2020_current_total_value_of_award',
    '2021_current_total_value_of_award',
    '2022_current_total_value_of_award',
    '2015_base_and_all_options_value', 
    '2016_base_and_all_options_value', 
    '2017_base_and_all_options_value',
    '2018_base_and_all_options_value',
    '2019_base_and_all_options_value',
    '2020_base_and_all_options_value',
    '2021_base_and_all_options_value',
    '2022_base_and_all_options_value',
    '2015_potential_total_value_of_award',
    '2016_potential_total_value_of_award', 
    '2017_potential_total_value_of_award',
    '2018_potential_total_value_of_award',
    '2019_potential_total_value_of_award',
    '2020_potential_total_value_of_award',
    '2021_potential_total_value_of_award',
    '2022_potential_total_value_of_award',
    '2015_number_of_offers_received', 
    '2016_number_of_offers_received', 
    '2017_number_of_offers_received', 
    '2018_number_of_offers_received',
    '2019_number_of_offers_received',
    '2020_number_of_offers_received',
    '2021_number_of_offers_received',
    '2022_number_of_offers_received',
    'PPPInitialApprovalAmount', 
    'ForgivenessAmount',
    'ForgivenessDate',
    'JobsReported',
    'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian', 'tribally_owned', 'veteran_owned',
    'service_disabled_veteran', 'woman_owned', 'wosb', 'econ_disadv_wosb', 'jointventure_wosb', 
    'jointventure_econ_disadv_wosb', 'minority_owned', 'subcontinent_asian_indian_american', 'asian_pacific_american',
    'black_american', 'hispanic_american', 'native_american', 'other_minority', 'HubzoneIndicator', 'LMIIndicator'
]

merged_df = merged_df[selected_columns]
merged_df.head()

,businessuei,businessname,city,state,zipcode,naics,naicsdescription,BusinessAgeDescription,2015_total_dollars_obligated,2016_total_dollars_obligated,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,HubzoneIndicator,LMIIndicator
0,C112Q3D8VPM3,TURF TEQ LLC,HONEY BROOK,PA,193441301,333112.0,LAWN AND GARDEN TRACTOR AND HOME LAWN AND GARD...,NaN,6656.16,NaN,...,f,f,f,f,f,f,f,f,NaN,NaN
1,C114HTL5ADV7,CUMMINS INC.,RENTON,WA,980552944,335312.0,MOTOR AND GENERATOR MANUFACTURING,NaN,305741.12,49360.52,...,f,f,f,f,f,f,f,f,NaN,NaN
7,C114QV5R7YX8,"AMERIQUAL GROUP, LLC",EVANSVILLE,IN,477258588,311999.0,ALL OTHER MISCELLANEOUS FOOD MANUFACTURING,NaN,4190846.34,4821747.50,...,f,f,f,f,f,f,f,f,NaN,NaN
10,C115HRKETCN8,CONTEXT PARTNERS INC.,PORTLAND,OR,972115847,541613.0,MARKETING CONSULTING SERVICES,NaN,0.00,0.00,...,f,f,f,f,f,f,f,f,NaN,NaN
11,C115J41MGLP5,"CHANNEL TECHNOLOGIES GROUP, LLC",SANTA BARBARA,CA,93111,334412.0,BARE PRINTED CIRCUIT BOARD MANUFACTURING,NaN,0.00,0.00,...,f,f,f,f,f,f,f,f,NaN,NaN

In [13]:
# Drop rows where any of the specified columns are NaN
columns_to_check = [
    'BusinessAgeDescription', 
    'PPPInitialApprovalAmount', 
    'ForgivenessAmount',
    'ForgivenessDate',
    'JobsReported',
    'HubzoneIndicator',
    'LMIIndicator'
]

merged_df.dropna(subset=columns_to_check, inplace=True)

# Display the updated DataFrame
merged_df.head()

,businessuei,businessname,city,state,zipcode,naics,naicsdescription,BusinessAgeDescription,2015_total_dollars_obligated,2016_total_dollars_obligated,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,HubzoneIndicator,LMIIndicator
35,C126K3VYQTK5,SHARON SMITH,SWEETWATER,TX,795567112,561492.0,COURT REPORTING AND STENOTYPE SERVICES,Existing or more than 2 years old,44255.00,44415.0,...,f,f,f,f,f,f,f,f,1.0,0.0
79,C14FU3C79MJ1,LEXTECH INC,DAYTON,OH,454583013,511210.0,SOFTWARE PUBLISHERS,Existing or more than 2 years old,29474.02,31292.9,...,f,f,f,f,f,f,f,f,0.0,0.0
409,C1GNEUHHK3D1,DONNA JOHNSON,CORPUS CHRISTI,TX,784187701,624310.0,VOCATIONAL REHABILITATION SERVICES,Existing or more than 2 years old,73973.00,87494.0,...,f,f,f,f,f,f,f,f,0.0,0.0
414,C1GQEQWNDAF1,SUREFIRE CPR LLC,ORANGE,CA,928682090,611430.0,PROFESSIONAL AND MANAGEMENT DEVELOPMENT TRAINING,Existing or more than 2 years old,7620.00,49397.0,...,f,t,f,t,f,f,f,f,0.0,0.0
611,C2FMHDHUN7J9,STARR,BELTSVILLE,MD,20705,541330.0,ENGINEERING SERVICES,Existing or more than 2 years old,0.00,0.0,...,f,f,f,f,f,f,f,f,0.0,0.0

In [14]:
merged_df.shape

(804420, 81)

In [15]:
#save the merged DataFrame to a new csv file in the same directory
merged_df.to_csv(directory_path + "MERGED_PPP_ALLContractingV1.csv", index=False)