## <center>Data Analysis</center> ##
### <center>Based on Merged Dataset of PPP Loan Forgiveness and Contracting Data from 2015 to 2022</center> ###

In [5]:
# Import dependencies
import pandas as pd
import os 
import matplotlib as plt
import numpy as np
import statsmodels.api as sm
from scipy import stats

In [8]:
# Establish the source file folder, identify the csv file and file path
source_folder = r'F:\FAU PhD\DISSERTATION\Data Analysis'
file_name = "MERGED_PPP_ALLContracting.csv"
file_path = os.path.join(source_folder, file_name)

In [9]:
# Read merged csv file from the source file and create a DataFrame
df_one = pd.read_csv(file_path)
df_one.head()

,businessID,businessname,city,state,2015_total_dollars_obligated,2016_total_dollars_obligated,2017_total_dollars_obligated,2018_total_dollars_obligated,2019_total_dollars_obligated,2020_total_dollars_obligated,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,TotalDemoIdentifiers,HubzoneIndicator
0,1.0,LEXTECH INC,DAYTON,OH,29474.02,31292.90,51407.54,6300.00,15200.00,19000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,DONNA JOHNSON,CORPUS CHRISTI,TX,73973.00,87494.00,22303.26,22437.99,20853.45,8147.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3.0,"OPTIVISION, INC.",PHOENIX,AZ,76077.20,388078.95,347248.43,262637.90,328409.97,227982.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.0,MONO MACHINES LLC,NEW YORK,NY,216805.58,292815.02,1183274.88,1130073.35,2767036.85,3225347.74,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
4,5.0,ALL FRESH PRODUCTS INC,SAN DIEGO,CA,42804.67,3438.36,106236.90,40342.70,121126.60,132942.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

### <center>Insert a new column titled Forgiven to indicate loans forgiven before and after March, 23, 2021 based on the current forgiveness dates.</center> ###

In [10]:
# Convert 'ForgivenessDate' to datetime format for comparison
df_one['ForgivenessDate'] = pd.to_datetime(df_one['ForgivenessDate'])

# Create a binary column based on the condition provided
df_one['Forgiven'] = (df_one['ForgivenessDate'] < '2021-03-23').astype(int)

# Reorder columns to have "Forgiven" right after "ForgivenessDate"
columns = df_one.columns.tolist()
columns.insert(columns.index("ForgivenessDate") + 1, columns.pop(columns.index("Forgiven")))
df_two = df_one[columns]
df_two.head()

,businessID,businessname,city,state,2015_total_dollars_obligated,2016_total_dollars_obligated,2017_total_dollars_obligated,2018_total_dollars_obligated,2019_total_dollars_obligated,2020_total_dollars_obligated,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,TotalDemoIdentifiers,HubzoneIndicator
0,1.0,LEXTECH INC,DAYTON,OH,29474.02,31292.90,51407.54,6300.00,15200.00,19000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,DONNA JOHNSON,CORPUS CHRISTI,TX,73973.00,87494.00,22303.26,22437.99,20853.45,8147.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3.0,"OPTIVISION, INC.",PHOENIX,AZ,76077.20,388078.95,347248.43,262637.90,328409.97,227982.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.0,MONO MACHINES LLC,NEW YORK,NY,216805.58,292815.02,1183274.88,1130073.35,2767036.85,3225347.74,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
4,5.0,ALL FRESH PRODUCTS INC,SAN DIEGO,CA,42804.67,3438.36,106236.90,40342.70,121126.60,132942.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [11]:
# Display the first 10 rows of the newly added column
print(df_two['Forgiven'].head(10))

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    0
8    1
9    1
Name: Forgiven, dtype: int32

### <center>To focus on current total value of awards for each year, I created a new DataFrame retaining and only retained monetary values for current_total_value_of_award columns for each year and delete other dollar award columns.</center> ###

In [12]:
# Create a list of columns to be removed
cols_to_remove = [
    "2015_total_dollars_obligated", "2016_total_dollars_obligated",
    "2017_total_dollars_obligated", "2018_total_dollars_obligated",
    "2019_total_dollars_obligated", "2020_total_dollars_obligated",
    "2021_total_dollars_obligated", "2022_total_dollars_obligated",
    "2015_base_and_all_options_value", "2016_base_and_all_options_value",
    "2017_base_and_all_options_value", "2018_base_and_all_options_value",
    "2019_base_and_all_options_value", "2020_base_and_all_options_value",
    "2021_base_and_all_options_value", "2022_base_and_all_options_value",
    "2015_potential_total_value_of_award", "2016_potential_total_value_of_award",
    "2017_potential_total_value_of_award", "2018_potential_total_value_of_award",
    "2019_potential_total_value_of_award", "2020_potential_total_value_of_award",
    "2021_potential_total_value_of_award", "2022_potential_total_value_of_award"
]

# Copy data from df_one to df_three
df_three = df_two.copy()

# Drop the columns from df_three
df_three.drop(columns=cols_to_remove, inplace=True)
df_three.head()

,businessID,businessname,city,state,2015_current_total_value_of_award,2016_current_total_value_of_award,2017_current_total_value_of_award,2018_current_total_value_of_award,2019_current_total_value_of_award,2020_current_total_value_of_award,...,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,TotalDemoIdentifiers,HubzoneIndicator
0,1.0,LEXTECH INC,DAYTON,OH,29474.02,31292.90,51407.54,6300.00,15200.00,19000.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,DONNA JOHNSON,CORPUS CHRISTI,TX,73973.00,87494.00,22303.26,22437.99,20853.45,8147.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3.0,"OPTIVISION, INC.",PHOENIX,AZ,76077.20,403118.01,347248.43,262637.90,343449.03,227982.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.0,MONO MACHINES LLC,NEW YORK,NY,216805.58,292815.02,1183274.88,1130073.35,2767036.85,3225347.74,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
4,5.0,ALL FRESH PRODUCTS INC,SAN DIEGO,CA,42804.67,3438.36,93723.82,40342.70,121126.60,132942.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

### <center>Create 7 new columns to determine the year over year change, in percentages, in current total value of award from one year to the next.</center> ###
1. "YoYDiff2016" is the change from 2015_current_total_value_of_award to 2016_current_total_value_of_award in percentage 
2. "YoYDiff2017" is the change from 2016_current_total_value_of_award to 2017_current_total_value_of_award in percentage 
3. "YoYDiff2018" is the change from 2017_current_total_value_of_award to 2018_current_total_value_of_award in percentage 
4. "YoYDiff2019" is the change from 2018_current_total_value_of_award to 2019_current_total_value_of_award in percentage 
5. "YoYDiff2020" is the change from 2019_current_total_value_of_award to 2020_current_total_value_of_award in percentage 
6. "YoYDiff2021" is the change from 2020_current_total_value_of_award to 2021_current_total_value_of_award in percentage 
7. "YoYDiff2022" is the change from 2021_current_total_value_of_award to 2022_current_total_value_of_award in percentage

In [13]:
# Copy data from df_one to df_four
df_four = df_three.copy()

# Calculate year-over-year difference in percentage
df_four["YoYDiff2016"] = ((df_four["2016_current_total_value_of_award"] - df_four["2015_current_total_value_of_award"]) / df_four["2015_current_total_value_of_award"]) * 100
df_four["YoYDiff2017"] = ((df_four["2017_current_total_value_of_award"] - df_four["2016_current_total_value_of_award"]) / df_four["2016_current_total_value_of_award"]) * 100
df_four["YoYDiff2018"] = ((df_four["2018_current_total_value_of_award"] - df_four["2017_current_total_value_of_award"]) / df_four["2017_current_total_value_of_award"]) * 100
df_four["YoYDiff2019"] = ((df_four["2019_current_total_value_of_award"] - df_four["2018_current_total_value_of_award"]) / df_four["2018_current_total_value_of_award"]) * 100
df_four["YoYDiff2020"] = ((df_four["2020_current_total_value_of_award"] - df_four["2019_current_total_value_of_award"]) / df_four["2019_current_total_value_of_award"]) * 100
df_four["YoYDiff2021"] = ((df_four["2021_current_total_value_of_award"] - df_four["2020_current_total_value_of_award"]) / df_four["2020_current_total_value_of_award"]) * 100
df_four["YoYDiff2022"] = ((df_four["2022_current_total_value_of_award"] - df_four["2021_current_total_value_of_award"]) / df_four["2021_current_total_value_of_award"]) * 100

# Reorder columns to insert the new columns right after "2022_current_total_value_of_award"
columns_order = list(df_four.columns)
start_idx = columns_order.index("2022_current_total_value_of_award") + 1
new_columns = ["YoYDiff2016", "YoYDiff2017", "YoYDiff2018", "YoYDiff2019", "YoYDiff2020", "YoYDiff2021", "YoYDiff2022"]
for col in reversed(new_columns):
    columns_order.insert(start_idx, col)

df_four = df_four[columns_order]

# print the first five rows of the newly added columns for verification
print(df_four[["YoYDiff2016", "YoYDiff2017", "YoYDiff2018", "YoYDiff2019", "YoYDiff2020", "YoYDiff2021", "YoYDiff2022"]].head())

   YoYDiff2016  YoYDiff2016  YoYDiff2017  YoYDiff2017  YoYDiff2018  \
0     6.171130     6.171130    64.278606    64.278606   -87.744988
1    18.278291    18.278291   -74.508812   -74.508812     0.604082
2   429.880187   429.880187   -13.859361   -13.859361   -24.365994
3    35.058802    35.058802   304.103205   304.103205    -4.496126
4   -91.967325   -91.967325  2625.829174  2625.829174   -56.955766

   YoYDiff2018  YoYDiff2019  YoYDiff2019  YoYDiff2020  YoYDiff2020  \
0   -87.744988   141.269841   141.269841    25.000000    25.000000
1     0.604082    -7.061862    -7.061862   -60.929534   -60.929534
2   -24.365994    30.769028    30.769028   -33.619600   -33.619600
3    -4.496126   144.854624   144.854624    16.563238    16.563238
4   -56.955766   200.244158   200.244158     9.755033     9.755033

   YoYDiff2021  YoYDiff2021  YoYDiff2022  YoYDiff2022
0     0.000000     0.000000     0.000000     0.000000
1   188.676091   188.676091   192.885842   192.885842
2   -87.183952   -87.183952   692.877363   692.877363
3    83.857594    83.857594     4.631899     4.631899
4   -47.603318   -47.603318  -100.000000  -100.000000

### <center>Save the DataFrame above as a csv file in the source folder.</center> ###

In [14]:
save_path = os.path.join(source_folder, "Main_PPP_Contracting_Data1.csv")
df_four.to_csv(save_path, index=False)